<div class="container mt-5">

  <h2><b>Calculate the average of your qualifications</b></h2>

  <div class="row mt-5">

      <div class="col-md-6 mr-2 p-5 text-center" style="background-color:aliceblue">
        <form [formGroup]="form" (ngSubmit)="saveQualification()">
          <h2 class="text-center">Add your qualifications</h2>
            <div class="form-group row">
              <input type="text" class="form-control col-md-5 mr-4" formControlName="qualification" placeholder="qualification...">
              <button type="submit" class="btn btn-primary col-md-6" [disabled]="form.invalid"><i class="far fa-save"></i> Save </button>
              <span *ngIf="validField()" style="color: red;">numbers only*</span>
            </div>
            <hr>
          
          <div *ngIf="qualificationsArray.length > 0">
             <h2>Your qualifications</h2>
             <table class="table">
               <tr class="row row-cols-4">
                 <td *ngFor="let num of qualificationsArray"><h3>{{num}}</h3></td>
               </tr>
             </table>
          </div>
          <button class="btn btn-danger" (click)="reset()" *ngIf="qualificationsArray.length>0"> Reset </button>
        </form>
      </div>

    <!-- SHOW AVERAGE -->
    <div class="col-md-4 p-5 text-center showAverage">
      <h2>Your average</h2>
      <br>
      <h1>{{average | number:'1.0-2'}}</h1>
    </div>

  </div>
  
</div>